/* ---------------------------------

                general

------------------------------------ */

:root {
  --bright-orange: #e67952;
  --light-orange: #f99b7a;
  --darkest-blue: #1b262c;
  --dark-blue: #0f4c75;
  --bright-blue: #3282b8;
  --light-blue: #bbe1fa;
  --off-white: #f7f7f7;
  --header: "Barlow Condensed", sans-serif;
  --text: "Open Sans", sans-serif;
  --bold: 600;
  --code: "Fira Code", monospace;
}

html {
  box-sizing: border-box;
}

body {
  background-color: var(--darkest-blue);
  color: var(--off-white);
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.study-wrapper,
.docs-wrapper {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  margin: 0 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

code {
  font-family: "Fira Code", monospace;
}

strong,
b {
  font-weight: var(--bold);
  color: var(--light-orange);
}

p > code,
li > code {
  color: var(--bright-orange);
  padding: 0 0.2rem;
  border-radius: 4px;
}

.features {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 100%);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "deploy-article deploy-figure"
    "integrate-figure integrate-article"
    "manage-article manage-figure";
}

figure.integrate {
  grid-area: integrate-figure;
}

.text-box {
  width: 70%;
}

.text-box h2 {
  color: var(--bright-orange);
  font-size: 3rem;
  text-align: center;
}

.text-box p {
  color: var(--off-white);
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  box-sizing: border-box;
}

.features div.box {
  display: block;
  text-align: center;
}

.features img {
  width: 100%;
  margin: 0 auto;
}

.browser-screenshot {
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.button {
  padding: 12px 25px;
  background: #fff;
  color: #35363a;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.button-primary {
  background: var(--bright-orange);
  border-color: var(--bright-orange);
  color: var(--off-white);
  box-shadow: 0 0 4px var(--bright-orange);
}

.button.button-primary:hover {
  background: var(--bright-orange);
  /* color: #ececec; */
  color: var(--light-blue);
  border-color: var(--bright-orange);
  box-shadow: 0 0 4px var(--bright-orange);
}

.button-link {
  color: var(--bright-orange);
  border: 1px solid transparent;
  background: transparent;
}

.button.button-link:hover {
  background: #ececec;
}

.button-wide {
  padding: 12px 50px;
}

.button:hover {
  background: #fff;
}

i,
em {
  font-style: italic;
}

sup {
  display: inline-block;
  vertical-align: super;
}

sup a {
  color: #777;
  text-decoration: none;
}

sup a:hover {
  color: var(--bright-orange);
}

/* ---------------------------------

               images

------------------------------------ */

img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
}

.github {
  width: 32px;
  transition: 200ms ease filter;
}

.github:hover {
  filter: invert(25%);
}

.img-wrapper {
  position: relative;
  margin: 50px 0;
  width: 100%;
}

.img-wrapper img {
  max-width: 100%;
}

/* ---------------------------------

                intro

------------------------------------ */

#home {
  height: 100vh;
  background: linear-gradient(180deg, var(--dark-blue), var(--darkest-blue));
  position: relative;
  min-height: 800px;
  z-index: 1;
}

header p {
  color: var(--off-white);
  font-weight: normal;
  font-size: 24px;
  position: initial;
  transform: none;
  margin: 1rem 0;
}

nav {
  display: block;
  padding: 25px 0;
}

nav ul {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

nav ul li {
  text-align: center;
  margin-right: 50px;
}

nav ul li a {
  color: var(--off-white);
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

nav ul li a.active,
nav ul li a:hover {
  text-decoration: underline;
}

nav ul li img {
  width: 72px;
  height: auto;
}

.header-short {
  background: linear-gradient(-90deg, var(--dark-blue), var(--darkest-blue));
}

.banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
  height: 350px;
}

.banner img {
  width: 25%;
  max-width: 600px;
  color: var(--bright-orange);
  text-transform: uppercase;
  font-family: var(--header);
  font-size: 7rem;
}

.banner-cta {
  margin-top: 3rem;
  font-size: 19px;
}

#overview {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--bright-orange);
  font-size: 4rem;
}

/* ---------------------------------

        case study & docs

------------------------------------ */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  align-self: flex-start;
  top: 0;
  margin-top: 13rem;
  padding: 1rem;
  min-width: 225px;
  margin-right: 50px;
  margin-left: -275px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
}

.sidebar a {
  color: var(--bright-orange);
  text-decoration: none;
  width: 100%;
  padding: 0.35rem;
  display: inline-block;
  list-style: none;
  box-sizing: border-box;
  transition: 200ms ease background;
}

.sidebar a:hover,
.sidebar a.active {
  color: var(--light-orange);
  font-weight: var(--bold);
  text-shadow: 0px 0px 1px var(--light-orange);
}

.sidebar li > ul > li {
  margin-left: 10px;
}

.sidebar li > ul > li > a {
  padding-top: 3px;
  padding-bottom: 3px;
}

#side-nav {
  display: none;
  left: 1rem;
  position: fixed;
  top: 17%;
  transform: translateY(-50%);
}

#side-nav img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

#case-study nav,
#docs nav {
  display: none;
  left: 2rem;
  position: fixed;
  top: 70%;
  transform: translateY(-60%);
}

#case-study nav li,
#docs nav li {
  color: var(--light-blue);
  font-size: 1.3rem;
  list-style: circle;
  margin-bottom: 2vh;
}

#case-study nav li:last-of-type,
#docs nav li:last-of-type {
  margin-bottom: 0;
}

#case-study nav a,
#docs nav a {
  color: #999;
  font-size: 0.9rem;
  margin-left: 1rem;
  text-decoration: none;
  vertical-align: 0.1rem;
}

#case-study nav a:hover,
#docs nav a:hover {
  color: var(--bright-orange);
}

#case-study a,
#docs a {
  color: var(--bright-orange);
}

#case-study h3,
#docs h3,
#case-study h4,
#docs h4,
#case-study h5,
#docs h5,
#case-study p,
#docs p,
#case-study pre,
#docs pre,
#case-study ul,
#docs ul,
#case-study ol,
#docs ol {
  margin-bottom: 20px;
}

#case-study ul ul,
#docs ul ul {
  margin-bottom: 0px;
}

#case-study h1,
#docs h1 {
  color: var(--bright-orange);
  text-align: center;
  margin: 4rem 0;
}

#case-study h2,
#docs h2 {
  color: var(--bright-blue);
  margin: 75px auto 20px auto;
  text-align: left;
}

#case-study h2:first-of-type,
#docs h2:first-of-type {
  margin-top: 50px;
}

#case-study h2,
#docs h2,
h3 {
  letter-spacing: 0.02rem;
}

#case-study h3,
#docs h3,
#case-study h4,
#docs h4,
#case-study h5,
#docs h5 {
  color: var(--bright-blue);
}

#case-study p,
#docs p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

#case-study li,
#docs li {
  font-size: 1.1rem;
  line-height: 1.6rem;
  list-style: disc;
  margin-left: 2rem;
}

#case-study li code,
#docs li code {
  font-size: 1.1rem;
}

#case-study ol li code,
#docs ol li code {
  font-size: 1.1rem;
}

#case-study ol li,
#docs ol li {
  list-style: decimal;
}

#case-study ul li {
  list-style: disc;
}

#case-study .note {
  font-size: 80%;
  font-style: italic;
  line-height: 1rem;
}

.buttons {
  margin: 0 auto;
  text-align: center;
}

.buttons .button {
  margin-left: 8px;
  margin-right: 8px;
}

/* ---------------------------------
        CLI commands table 
------------------------------------ */

#CLI-commands {
  display: grid;
  justify-items: center;
}

#CLI-commands table th {
  text-align: left;
}

#CLI-commands h4 {
  color: var(--light-orange);
  text-align: center;
}

#CLI-commands div {
  width: 90%;
}

#table1,
#table2 {
  margin-bottom: 10px;
}

#CLI-commands tbody tr:nth-child(odd) {
  opacity: 0.55;
}

/* ---------------------- */

#case-study .img-wrapper p,
#docs .img-wrapper p,
figcaption,
#CLI-commands p {
  font-style: italic;
  font-size: 90%;
  text-align: center;
  width: 75%;
  line-height: 1rem;
  margin: 5px auto 0 auto;
  margin-bottom: 0;
}

/* ---------------------------------

            our team

------------------------------------ */

footer,
.team-wrapper {
  background: linear-gradient(180deg, var(--dark-blue), var(--darkest-blue));
  color: var(--off-white);
}

.footer-backdrop,
.team-backdrop,
.banner-short {
  background-position: center center;
  background-repeat: repeat repeat;
  background-size: contain;
}

.team-backdrop {
  height: 100%;
}

#our-team {
  color: var(--off-white);
  padding-bottom: 25px;
}

#our-team h1,
footer h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  line-height: 4rem;
  color: var(--bright-orange);
}

footer h3 {
  font-size: 1.7rem;
}

#our-team > p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-top: 30px;
  text-align: center;
  margin: 0 auto;
  width: 45%;
}

#our-team > ul {
  padding: 60px 0 80px;
  text-align: center;
}

#our-team li,
#our-team .social-icons li {
  display: inline-block;
  margin: 0 3%;
  width: 20%;
  vertical-align: top;
}

#our-team h3 {
  margin-bottom: 10px;
  color: var(--bright-orange);
  text-shadow: 0 0 1px var(--bright-orange);
}

#our-team a {
  color: #282828;
  text-decoration: none;
}

#our-team li > img {
  border-radius: 100%;
  margin: 0 auto 20px;
  width: 15vw;
  max-width: 250px;
}

#our-team .individual ul {
  margin: 0;
}

#our-team .individual li img {
  border-radius: 45px;
  padding: 2px;
  margin-top: 10px;
  width: 45px;
}

#our-team .individual li img:hover {
  filter: invert(20%);
}

#our-team .individual li {
  margin: 10px 10px 0 10px;
}

#our-team .individual p {
  font-size: 1rem;
}

.design-credit {
  color: #999;
  font-size: 0.75rem;
  margin: 0 10px 10px 0;
  text-align: right;
  vertical-align: bottom;
}

.design-credit a {
  color: var(--light-orange);
}

small {
  display: block;
  text-align: center;
  font-style: italic;
  opacity: 0.5;
}

#our-team small a {
  color: var(--bright-orange);
}

.connectors {
  max-width: 550px;
}

/* ---------------------------------

    design goals

------------------------------------ */

#design-goals {
  background-color: var(--dark-blue);
  padding: 10px;
  border-radius: 5px;
}

#design-goals p {
  text-align: center;
  padding-top: 20px;
}

#goals-container {
  display: grid;
  grid-template-columns: 100px auto;
}

#goals-container p {
  text-align: left;
}

.goals {
  width: 70px;
  margin: 10px 0 20px 10px;
}

/* ---------------------------------

    responsive design (width)

------------------------------------ */

@media (min-width: 1100px) {
  /* first column */

  th:first-child,
  td:first-child {
    padding-right: 120px;
  }

  #table2 td:first-child {
    padding-right: 10px;
  }

  #table3 td:first-child {
    padding-right: 65px;
  }

  /* third column */

  th:nth-child(3),
  td:nth-child(3) {
    padding-left: 70px;
  }

  #table2 th:nth-child(3),
  #table2 td:nth-child(3) {
    padding-left: 20px;
  }

  #table3 th:nth-child(3),
  #table3 td:nth-child(3) {
    padding-left: 35px;
  }
}

@media (max-width: 2000px) {
  .sidebar {
    margin-left: 0;
  }
}

@media (max-width: 1100px) {
  .banner img {
    width: 35%;
  }

  section.features {
    flex-direction: column;
    align-items: center;
  }

  .features article {
    width: 100vw;
    text-align: center;
    padding-bottom: 100px;
  }

  .features div.box {
    width: 100vw;
    padding: 0 10px 100px 10px;
  }

  section#case-study {
    margin: 70px auto;
  }

  #case-study h2:first-of-type {
    margin-top: 20px;
  }

  /* first column */

  th:first-child,
  td:first-child {
    padding-right: 90px;
  }

  #table2 td:first-child {
    padding-right: 15px;
  }

  #table3 td:first-child {
    padding-right: 65px;
  }

  /* third column */

  th:nth-child(3),
  td:nth-child(3) {
    padding-left: 50px;
  }

  #table2 th:nth-child(3),
  #table2 td:nth-child(3) {
    padding-left: 10px;
  }

  #table3 th:nth-child(3),
  #table3 td:nth-child(3) {
    padding-left: 15px;
  }

  #our-team h1 {
    padding-top: 70px;
  }

  .sidebar {
    margin-right: 0;
  }
}

@media (max-width: 975px) {
  .banner img {
    width: 40%;
  }

  /* section */

  .box {
    width: 100%;
    padding: 1rem 0;
  }

  .features {
    display: flex;
    flex-direction: column;
  }

  .features a.button {
    display: inline-block;
    margin: 1rem auto;
    padding: 0.4rem;
    text-align: center;
    font-size: 1rem;
  }

  .features img {
    max-width: 90%;
  }

  .text-box h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .text-box p {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
  }

  /* first column */

  th:first-child,
  td:first-child {
    padding-right: 65px;
  }

  #table2 td:first-child {
    padding-right: 15px;
  }

  /* third column */

  th:nth-child(3),
  td:nth-child(3) {
    padding-left: 50px;
  }

  #table2 th:nth-child(3),
  #table2 td:nth-child(3) {
    padding-left: 10px;
  }

  #table3 th:nth-child(3),
  #table3 td:nth-child(3) {
    padding-left: 15px;
  }

  #our-team > p {
    width: 60%;
  }

  #our-team .individual li {
    margin: 10px 7px 0;
  }

  #our-team .individual li img {
    width: 30px;
  }
}

@media (min-width: 800px) {
  section#case-study {
    max-width: 1000px;
  }

  .img-wrapper img {
    max-width: 80%;
  }
}

@media (max-width: 800px) {
  .banner img {
    width: 45%;
  }

  .banner h1 {
    font-size: 2rem;
  }

  /* General */

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  /* Main */

  #case-study p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  section#case-study,
  section#docs {
    margin: 20px;
  }

  code,
  .command {
    font-size: 0.9rem;
  }

  pre code {
    font-size: 1.5vw;
  }

  .sidebar {
    display: none;
  }

  /* first column */

  th:first-child,
  td:first-child {
    padding-right: 65px;
  }

  #table2 td:first-child {
    padding-right: 15px;
  }

  /* third column */

  th:nth-child(3),
  td:nth-child(3) {
    padding-left: 50px;
  }

  #table2 th:nth-child(3),
  #table2 td:nth-child(3) {
    padding-left: 10px;
  }

  #table3 th:nth-child(3),
  #table3 td:nth-child(3) {
    padding-left: 15px;
  }

  /* Our Team */

  #our-team > p {
    width: 70%;
  }

  #our-team .individual li {
    margin: 10px 5px 0;
  }

  #our-team .individual li img {
    width: 25px;
  }
}

@media (max-width: 600px) {
  .banner img {
    width: 75%;
  }

  /* General */

  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1rem;
  }

  /* section */

  .features {
    flex-direction: column;
  }

  .text-box h1 {
    font-size: 2rem;
  }

  .text-box p {
    font-size: 1.5rem;
  }

  nav {
    padding: 12.5px 0;
  }

  nav ul {
    padding-left: 12.5px;
  }

  nav ul li {
    margin-right: 15px;
  }

  nav ul li img {
    width: 60px;
  }

  /* Main */

  section.lower-cta div.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.lower-cta .button {
    width: 50%;
  }

  /* first column */

  th:first-child,
  td:first-child {
    padding-right: 40px;
  }

  #table2 td:first-child {
    padding-right: 15px;
  }

  /* third column */

  th:nth-child(3),
  td:nth-child(3) {
    padding-left: 50px;
  }

  #table2 th:nth-child(3),
  #table2 td:nth-child(3) {
    padding-left: 20px;
  }

  #table3 th:nth-child(3),
  #table3 td:nth-child(3) {
    padding-left: 35px;
  }

  /* Our Team */

  #our-team h1 {
    padding-top: 60px;
  }

  #our-team > p {
    font-size: 1rem;
    margin-top: 0;
  }

  #our-team > ul {
    margin-top: 0;
    padding: 0;
  }

  #our-team li {
    display: block;
    margin: 0 auto;
    width: 60%;
  }

  #our-team .individual {
    padding: 50px 0;
    border-bottom: 1px solid #483b80;
  }

  #our-team .individual:last-of-type {
    border-bottom: 0px;
  }

  #our-team .individual ul {
    width: 70%;
    margin: 0 auto;
  }

  #our-team .individual li {
    margin: 10px 5px;
  }

  #our-team .individual li img {
    width: 25px;
    padding: 3px;
  }

  #our-team li > img {
    width: 30vw;
  }
}

@media (max-width: 500px) {
  .banner img {
    width: 75%;
  }

  .banner h1 {
    font-size: 2rem;
  }

  nav ul li a,
  header nav ul li a {
    font-size: 1rem;
  }

  #home p {
    font-size: 1.2rem;
  }

  /* first column */

  th:first-child,
  td:first-child {
    padding-right: 30px;
  }

  #table2 td:first-child {
    padding-right: 10px;
  }

  /* third column */

  th:nth-child(3),
  td:nth-child(3) {
    padding-left: 40px;
  }

  #table2 th:nth-child(3),
  #table2 td:nth-child(3) {
    padding-left: 20px;
  }

  #table3 th:nth-child(3),
  #table3 td:nth-child(3) {
    padding-left: 25px;
  }

  #our-team .individual ul {
    width: 90%;
    margin: 0 auto;
  }

  #our-team .individual li {
    margin: 10px 7px;
  }

  #our-team .individual li img {
    width: 30px;
    padding: 2px;
  }

  #our-team li > img {
    width: 35vw;
  }

  nav#site-navigation ul {
    font-size: 1.2rem;
  }

  nav#site-navigation ul li {
    margin: 10px 0 10px 40px;
  }
}

@media (max-width: 400px) {
  /* section */

  .text-box p {
    font-size: 1.2rem;
  }

  .text-box h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  nav#site-navigation ul {
    font-size: 1.1rem;
  }

  nav#site-navigation > ul {
    margin-top: 20px;
    padding-bottom: 25px;
  }

  nav#site-navigation ul li {
    margin-bottom: 3.5vh;
  }

  #our-team {
    padding-bottom: 18px;
  }

  #our-team > p {
    width: 57%;
  }
}

.reference-item {
  padding-bottom: 20px;
  word-wrap: break-word;
}

/* ---------------------------------

    responsive design (height)

------------------------------------ */

@media (max-height: 500px) {
  #home {
    display: flex;
    align-items: center;
  }

  header p {
    display: none;
  }
}

/* (Writeup) */

#case-study {
  color: var(--off-white);
  margin-bottom: 0;
}

.header-backdrop {
  background-position: center center;
  background-repeat: repeat repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.flex-float-right {
  margin-left: auto;
}

.team-wrapper {
  min-height: 100vh;
}

.lower-cta {
  background: linear-gradient(180deg, var(--darkest-blue), var(--dark-blue));
  padding: 100px 0 120px 0;
  margin: 0 auto;
  text-align: center;
}
